body {
	background-image: url(../img/nike/poster-giay-den.jpg);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-transform: capitalize;
  }
  
.container {
	max-width: 800px;
	margin: 0 auto;
  }
  
  .card-header {
	background-color: rgb(58, 49, 49);
	border-bottom: 1px solid #dee2e6;
  }
  
  .nav-tabs .nav-link {
	border: 1px solid transparent;
	border-radius: 5px;
  	color: #fff;
  }

  .nav-tabs .nav-link:hover {
	background-color: rgb(17, 15, 15);
	color: #fff;
	transition: .5s;
  }
  
  .nav-tabs .nav-link.active {
	border-color: #dee2e6 #dee2e6 #fff;
	background-color: rgb(58, 49, 49);
	color: #fff;
  }
  
  .form-group {
	margin-bottom: 1rem;
  }
  
  .btn-block {
	display: block;
	width: 100%;
  }
  
  @media (min-width: 768px) {
	.col-md-6 {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  }
.btn:hover {
	background-color: rgb(17, 15, 15);
	color: #fff;
	transition: .5s;
  }
  
  .form-control{
	background: rgb(29, 26, 26);
  }

  .form-control:focus {
	border-color: #007bff;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
	background: rgb(17, 15, 15);
  }
  

  .btn:active {
	background-color: rgb(17, 15, 15);
	color: #fff;
	transform: translateY(3px);
	box-shadow: none;
	outline: none;
  }
  @keyframes scale {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.05);
	}
	100% {
	  transform: scale(1);
	}
  }
  
  .btn:active::before {
	content: "";
	display: block;
	position: absolute;
	top: -10px;
	left: -10px;
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	border: 2px solid #007bff;
	border-radius: 50px;
	animation: scale 0.3s ease-in-out;
  }
  .card {
	margin-top: 30%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: rgb(58, 49, 49);
	color: #fff;
  } 